version: '3.8'

services:
  backend:
    build: ./backend
    container_name: hackwave-backend
    env_file:
      - ./backend/.env
    expose:
      - "8000"
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: hackwave-frontend
    expose:
      - "3000"
    networks:
      - app-network
    restart: unless-stopped
    env_file:
      - ./frontend/.env
    environment:
      - BACKEND_URL=http://backend:8000

  nginx:
    image: nginx:alpine
    container_name: hackwave-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: hackwave-mongo
    command: [ "--replSet", "rs0", "--bind_ip_all", "--port", "27017" ]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    restart: unless-stopped

  mongo-init:
    image: mongo:latest
    container_name: hackwave-mongo-init
    restart: "no"
    depends_on:
      - mongo
    command: >
      mongosh --host mongo:27017 --eval  'try { rs.status() } catch (err) { rs.initiate({_id:"rs0", members:[{_id:0, host:"mongo:27017"}]}) }'
    networks:
      - app-network

volumes:
  mongo_data:


networks:
  app-network:
    driver: bridge
